<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto+Mono">

    <style>
      body {
        font-family: Roboto Mono, monospace, sans-serif;
      }
      main {
        width: 100%;
        height: 100%;
        max-width: 680px;

        margin: 0 auto;
      }

      h1 {
        padding-top: 1em;

        text-align: center;
      }

      ul.links {
        padding-left: 0;
        list-style-type: none;
      }

      ul.links li a {
        display: block;

        margin-bottom: 1em;
        border: 1px black solid;
        padding: 1em;

        text-align: center;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <main>
        {{ content }}
    </main>
  </body>
  <script>
    ((document) => {
      document.querySelectorAll('a[data-type="email"]').forEach((el) => {
        el.setAttribute('href', 'mailto:'.concat(atob(el.dataset.addr))); 
      });
    })(document);
  </script>
</html>
